.git
.github
.vscode
.idea
*.iml

.env
*.env.local
*.log

node_modules
web-ui/node_modules
vscode-extension/node_modules

backend/target
web-ui/dist
vscode-extension/out
vscode-extension/*.vsix

tools
README.md
HOW-TO-RUN.md
